---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Preguntas Recurrentes">
    <main>
        <h1>Preguntas Recurrentes</h1>

        <section>
            <h2>Nuestro Servicio</h2>
            <p>Nuestro servicio es proporcionar una solución web para la administración de inventarios, dirigida a optimizar los procesos de gestión de stock, entrada y salida de los productos de las empresas. Busca ofrecer una mejora en la precisión en el seguimiento de productos y que permita a los usuarios tomar decisiones basadas en los datos reales y actualizados.</p>
        </section>

        <section>
            <h2>¿Qué es Inventech?</h2>
            <p>Inventech es una plataforma web centrada en proporcionar una solución para gestionar inventarios. Con objetivos claros como simplificar la gestión de productos, mejorar la precisión en el seguimiento de inventarios y proporcionar análisis detallados para la toma de decisiones.</p>
        </section>

        <section>
            <h2>¿Cómo se usa Inventech?</h2>
            <p>Inventech se utiliza para asegurarse de que una empresa tenga suficientes productos disponibles para satisfacer la demanda de los clientes. Ayuda a planificar las compras, gestionar el almacenamiento y prevenir la escasez o el exceso de productos, así como a simplificar el proceso de gestión de productos mediante una interfaz amigable y fácil de usar. Mejora la precisión y reduce los errores en el manejo de inventarios.</p>
        </section>

        <section>
            <h2>¿Cuál es el objetivo de Inventech?</h2>
            <p>El objetivo de Inventech es asegurar que haya suficientes productos disponibles para satisfacer la demanda de los clientes, al tiempo que se minimizan los costos asociados con el almacenamiento y la gestión de inventario.</p>
        </section>

        <section>
            <h2>¿Cómo se mide el inventario?</h2>
            <p>El inventario se mide contando físicamente los productos que una empresa tiene en su almacén o en sus tiendas. También se puede medir utilizando sistemas informáticos que registran las entradas y salidas de productos.</p>
        </section>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        font-size: 20px;
        line-height: 1.6;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 1em;
    }
    h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 1.5em;
    }

    section:not(:last-child) {
        margin-bottom: 3em;
    }

    a {
        color: inherit;
    }
</style>
